* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

/* Header */
header::before {
    content: "";
    display: block;/*aqui mantenemos el header que se perdia*/
    margin-bottom: 80px;/*por culpa del fixed*/
}

nav {
    width: 100%;
    height: 70px;
    background: #fff;
    border-bottom: 1px solid transparent;/*ponemos abajo del nav una linea*/
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);/*le damos la sombra*/
    position: fixed;/*con esto dejamos el nav quieto aunque haga scroll*/
    top: 0;/*con esto solucionamos el problema -->*/
    z-index: 100;/*--> de que se pierda cosas abajo del fixed*/
    transition: ease-in-out 0.5s;
}

.nav {
    display: flex;/*alineamos todo lo que hay en el nav de manera horizontal*/
    justify-content: space-between;/*los separa a cada objeto en una esquina*/
    height: 70px;
    width: 100%;
    align-items: center;/*los centramos verticalmente*/
    padding: 0 40px;
}

.nav .logo {
    height: 70px;/*ponemos el logo del tamaño del nav*/
    display: flex;
}
.nav .logo img {
    height: 95%;/*ponemos el logo que ocupe el total del alto*/
    vertical-align: top;/*alineas en vertical con la parte superior*/
}

.nav .social{
    font-size: 16px;
    margin-bottom: 25px;
}
.social > a {
    text-decoration: none;
    font-size: 15px;
    display: inline-block;/*queremos que este uno del lado del otro*/
    color: #21618c;
    border: 1px solid #21618c;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    margin-right: 5px;
}

.sobre-mi{
    margin-top: 120px;
    background: rgba(0, 0, 0, .1);
    align-items: center;
}

.contenedor1{
    display: flex;/*ordenamos en bloques*/
    justify-content: space-evenly;/*pasamos una del lado de la otra*/
    width: 90%;/*no ocupa el ancho total de la pagina*/
    max-width: 1000px;/*el maximo ancho no pase de los 1000px*/
    margin: auto;/*esta centra todo lo que este en contenedor*/
    overflow: hidden;/*me corta lo que pasa el limite*/
}

.contenedor1 > img {
  margin: 15px;
  padding: 5px 5px 5px 5px;  
  width: 40%;
  height: 40%;
  background:  #21618c;
  border-radius: 5px;
}

.contenedor1 > p{
    font-weight: 100;
    margin-top: 14px;
    color:  #21618c;
    width: 55%;
    font-size: 28px;
    font-weight: 380;
}

/*que es multiverso*/
.pregunta {
    margin-top: 100px;
    background: rgba(0, 0, 0, .1);
    align-items: center;
}
.contenedor2{
    margin-top: 30px;
    padding: 30px;
    display: block;/*ordenamos en bloques*/
    justify-content: space-evenly;/*pasamos una del lado de la otra*/
    width: 100%;/*no ocupa el ancho total de la pagina*/
    max-width: 1000px;/*el maximo ancho no pase de los 1000px*/
    margin: auto;/*esta centra todo lo que este en contenedor*/
    overflow: hidden;/*me corta lo que pasa el limite*/
}

.contenedor2 h2 {
    text-align: center;
    margin-top: 14px;
    color:  #21618c;
    width: 100%;
    font-size: 60px;
    font-weight: 400;
}

.contenedor2 > img {
    margin: 30px;
    padding: 5px 5px 5px 5px;  
    width: 95%;
    height: 95%;
    background:  #21618c;
    border-radius: 5px;
  }

  .contenedor2 > p {
    text-align: center;
    font-weight: 300;
    color:  #21618c;
    width: 100%;
    font-size: 22px;
  }

/*mis videos*/
.video {
    display: flex;/*ordenamos en bloques*/
    justify-content: space-evenly;/*pasamos una del lado de la otra*/
    width: 100%;/*no ocupa el ancho total de la pagina*/
    max-width: 1000px;/*el maximo ancho no pase de los 1000px*/
    margin: auto;/*esta centra todo lo que este en contenedor*/
    overflow: hidden;/*me corta lo que pasa el limite*/
}
.video iframe{
    margin: 35px;
    background-color: #21618c;
    padding: 3px;
    border-radius: 5px;
    width: 40%;
}

.video > p {
    margin-top: 70px;
    text-align: center;
    font-weight: 300;
    color:  #21618c;
    width: 60%;
    font-size: 18px;
}

@media screen and (max-width:1040px) {
    .sobre-mi {
        margin-top: 100px;
        background: rgba(0, 0, 0, .1);
        align-items: center;
    }
    .contenedor1 {
        margin-top: 30px;
        padding: 30px;
        display: block;/*ordenamos en bloques*/
        width: 100%;/*no ocupa el ancho total de la pagina*/
        max-width: 1000px;/*el maximo ancho no pase de los 1000px*/
        
    }
    .contenedor1 > img {
        margin: 30px;  
        width: 78%;
        height: 78%;
        background:  #21618c;
        border-radius: 5px;
      }
      .contenedor1 > p {
        text-align: center;
        font-weight: 300;
        color:  #21618c;
        width: 100%;
        font-size: 22px;
      }
}

@media screen and (max-width:680px) {
    .contenedor2 h2 {
        text-align: center;
        margin-top: 14px;
        color:  #21618c;
        width: 100%;
        font-size: 45px;
        font-weight: 400;
    }
    .contenedor2 > img {
        margin: 30px;
        padding: 5px 5px 5px 5px;  
        width: 78%;
        height: 78%;
        background:  #21618c;
        border-radius: 5px;
      }
    .video > p {
        margin-top: 40px;
        text-align: center;
        font-weight: 300;
        color:  #21618c;
        width: 60%;
        font-size: 11px;
    }
   
}
